<main id="main">
  <header id="title">
    <h1>Histoire de la Réunion</h1>
    <p><small>Ceci est un projet d'études de conceptions de site web réactif - sujet: Hommage à mon île de naissance</small></p>
  </header>

  <section id="img-div">
<img src=" https://lh3.googleusercontent.com/yRiTe7T9r31RjhOl1LgEopRHXc6y1Z_6VwdBdFj0NTQw6lLffAILrfk0UDEBXQQp_K7eXS4Fm-csHyeEdp0O2zC11R4ZXA36U-gYpSwwrBPZloux5Nk7p5Ty3ZzWN2Yj8HSlr1gn1tKh1uvjNMwR37_g_hhncGVA48Pa6vtmm4Rx0dFMhCJQ_vQqjRyES_8MLUj3NbGaA7wUXQQdZ7ybJqwUn2bc_A0mqbBviVlmOpTQnL-IWMwA0ua8dHXdn-94qM4PMI1Ctg5gvdd64dROIhalRNBTwy9lFZ9_9Oq5lLMizpr--5balsHvaIi2EoLVrGVFmXDQ6Qm_B4s43FUthrH-NZUysbl4cnuj-3ik6TWkKuYHo6t467100NeWCxmyQwKanbzQchztdnhxhcnwAcEMU0l9QwV3OQUVweNdA2darCTaoemJ0ymeZi6ZZzmZGuiztHBER-ardJxg70krV4CjTn0gReITNykmbIkv-mUVk_ythYML60P8UGojAat6usKBVWaLz3iPtAl_tWZMfrxEskD9WvRUG4RksyV6HJxlvaSAtAz6IkRnW2bJpBmWqWOoZO5XJ3cGPzzqCVypz6sVAjzOuSIlQNepZOaHvhkFXSExS28Fv5gXlT0Le59XuveGgyh5JV7F61dhZWT_mUN4=w298-h224-no"
  alt="des enfant et des femmes dans les champs de canne a sucre" alt="des enfant et des femme dans les champs de canne a sucre"
  id="image">
    <div id="img-caption">Dans la Réunion longtemps, les enfants et les femmes travaillaient  dans les champs de
      canne
      à sucre.</div>
  </section>

  <article>
    <h2>Découverte et les premiers habitants</h2>
    <ul>
      <li>Il est possible que les explorateurs austronésiens qui sillonnaient l'océan Indien depuis l'Indonésie jusqu'à
        Madagascar et l'Afrique bien des siècles avant J.-C., aient repéré les îles des Mascareignes et donc l'île de
        La
        Réunion37. Plus tard, au xe siècle apr. J.-C., des navigateurs arabes découvrent l'île de La Réunion et la
        nomment «
        Dîna morgabin »2.

        Néanmoins les premiers habitants de l'île furent des mutins venus de Madagascar. En effet, l’île semblait
        totalement
        inhabitée lors de l'arrivée des navires portugais du xvie siècle en route vers les Indes2.</li>
      <li><b>février 1500 à 1520 : </b> Deux navigateurs portuguais débarquaient sur l'île , respectivement en juillet
        1500 et
        fevrier 1512 ou 1513. Le premier nom de l'île fût nommée Santa Apolonia. En 1520 les trois îles de l'archipel
        furent surnommées
        los Mascarenhas.
        Aujourd’hui, la Réunion, l'île Maurice et Rodrigues sont couramment appelées les Mascareignes.</li>
      <li><b>1642 : </b> Les Français prennent possession de l'île au nom du roi en 1642 et l’ont baptisés île Bourbon,
        du nom
        de la famille royale. </li>
      <li><b>1645 : </b>C'est en 1665 qu'arrivent les vingt premiers colons de l'île de Bourbon</li>
      <li><b>1715 : </b>À partir de 1715, l’île connaît un important essor économique avec le développement de la
        culture et
        de l’exportation du café. Cette culture a été à l’origine du développement considérable de l’esclavage dans la
        colonie.Citons également le rôle de l’intendant Pierre Poivre, qui a considérablement enrichi la flore locale
        et
        diversifié les ressources agricoles par l'introduction de très nombreuses espèces tropicales, et notamment le
        girofle
        et la noix de muscade dont le commerce fut florissant au xviiie et début du xixe siècle</li>
</ul>
      <h2>Bouleversements révolutionnaires</h2>
<ul>
      <li><b>1793 : </b>Le 19 mars 1793, pendant la Révolution, son nom devient « île de La Réunion » en hommage à la
        réunion des fédérés de Marseille et des gardes nationaux parisiens, lors de la marche sur le palais des
        Tuileries, la
        journée du 10 août 1792, et pour effacer le nom de la dynastie des Bourbons.</li>
      <li><b>1794 : </b>L'abolition de l'esclavage votée par la Convention nationale le 4 février 1794 se heurte au
        refus de
        son application par La Réunion, comme par l'Isle de France (île Maurice). Une délégation accompagnée de forces
        militaires, chargée d'imposer la libération des esclaves, arrive à l'Île de Bourbon le 18 juin 1796 pour se
        voir
        aussitôt expulsée sans ménagements. Il s'ensuit une période de troubles et de contestations du pouvoir de la
        métropole qui n'a plus aucune autorité sur les deux îles. Le Premier consul de la République, Napoléon
        Bonaparte, y
        maintient l’esclavage qui n’a jamais été aboli dans la pratique, avec la loi du 20 mai 1802.</li>
      <li><b>1806-1841 : </b>A cause des cyclones,inondations la culture du café décline rapidement pour se voir
        substituer
        la
        culture de la canne à sucre, dont la demande métropolitaine augmente. Du fait de son cycle de croissance, la
        canne à
        sucre est en effet insensible à l’effet des cyclones. Survenue en 1841, la découverte d’Edmond Albius sur la
        pollinisation manuelle des fleurs de la vanille permet bientôt à l’île de devenir le premier producteur mondial
        de
        vanille. Essor également de la culture du géranium dont l’essence est très utilisée en parfumerie. </li>

      <li><b>1848 :</b>Le 20 décembre 1848, l’abolition de l'esclavage est finalement proclamée par Sarda Garriga (le
        20
        décembre est un jour férié à La Réunion). Louis Henri Hubert Delisle devient son premier gouverneur créole le 8
        août
        1852 et reste à ce poste jusqu’au 8 janvier 1858. L’Europe a de plus en plus recours à la betterave pour
        remplir ses
        besoins en sucre. Malgré sa politique d’aménagement et le recours à l’engagisme, la crise économique couve et
        devient
        patente à compter des années 1870. Par la suite, le percement du canal de Suez conduit le trafic marchand à
        s’éloigner de l’île. Cette dépression économique n’empêche toutefois pas la modernisation de l’île, avec le
        développement du réseau routier, la création du chemin de fer, la réalisation du port artificiel de la pointe
        des
        Galets. Ces grands chantiers offrent une alternative bienvenue aux travailleurs agricoles.</li>
      <li><b>1862 : </b>Libération de l’immigration. De nombreux Chinois et musulmans indiens s’installent alors, et
        forment
        deux importantes communautés qui participent à la diversification ethnique et culturelle. À partir de la fin du
        xixe
        siècle, les sources d’engagements se tarissent peu à peu. Nombre de propriétaires terriens louent alors leurs
        terres
        (pratique du colonage), d’où l’émergence d’une population de travailleurs agricoles indépendants. La production
        de
        café est détruite à 75 % en deux décennies, entre 1880 et 1900, à cause de la propagation d'une maladie venue
        de
        Ceylan et des colonies anglaises et néerlandaises. </li>
      <li><b>1917 - 1939 : </b>
        Pendant l’entre-deux-guerres, la modernisation se poursuit : l’électricité apparaît dans les foyers aisés, et
        assure
        l’éclairage public de Saint-Denis. Le télégraphe (1923) et la radio (1926) mettent les Réunionnais en contact
        avec le
        monde. En 1939, 1 500 foyers privilégiés sont abonnés au téléphone. On voit apparaître automobiles et avions.
        L’industrie sucrière se concentre et les sociétés anonymes se substituent aux exploitants individuels de
        sucreries. Ces
        progrès profitent essentiellement aux foyers de propriétaires terriens, d’industriels, de cadres, de gros
        commerçants,
        et la masse de la population demeure pauvre. Autre évolution importante de l’entre-deux-guerres : la mortalité
        baisse
        et la natalité, très forte, augmente, d’où une croissance exponentielle de la population, croissance qui se
        poursuit de
        nos jours.</li>
        </ul>
      <h2> de 1950 a nos jours</h2>
<p>Le 19 mars 1946, La Réunion devient un département d’outre-mer français puis, en 1997, l’une des sept régions
  ultrapériphériques de l’Union européenne.

  À la départementalisation, La Réunion est en ruines. Mais la métropole est amenée à consentir de gros efforts pour la
  reconstruction de l’économie et le progrès social. L’instruction obligatoire constitue un progrès décisif. La mise en
  place, avec un léger décalage, du système de sécurité sociale hexagonal apporte un mieux être considérable. Au début
  des années cinquante, le paludisme, fléau sanitaire majeur depuis un siècle, est éradiqué. Le nombre de lits
  d’hôpital triple en dix ans. Il s’ensuit une amélioration importante de la santé publique, une chute considérable de
  la mortalité et une augmentation galopante de la population, la natalité culminant à un niveau record proche de 50
  pour mille. Dès la fin de la guerre, des liaisons aériennes régulières mettent La Réunion à trois journées seulement
  de la métropole. Autre conséquence de la départementalisation : une augmentation considérable du nombre de
  fonctionnaires, bien rémunérés, qui génèrent un flux commercial nouveau provoquant l’émergence d’une classe moyenne
  vivant du commerce, d’activités libérales et de fonctions d’encadrement. L’élection de Michel Debré à la députation,
  en 1962, apporte un atout considérable au développement, du fait de la dimension du personnage et de son poids
  politique en métropole.

  Au début des années 1960, La Réunion fut envisagée comme site d'essais nucléaires4.</p>
  <p>
Dans les années 1970 et 80, La Réunion accède vraiment à la modernité. Une université apparaît et se développe, ainsi
que l’enseignement technique. La télévision supplante la radio. Les commerçants abandonnent leurs « boutiques chinois »
et « bazar zarabs » pour créer supérettes et supermarchés. Le tourisme commence à se développer. Le réseau routier se
densifie et se modernise, mais le parc automobile évolue plus rapidement encore. L’habitat s’améliore, et la
construction de logements, dopée par des avantages fiscaux spécifiques aux DOM, est très active. L’économie change.
Dans l’agriculture, les cultures maraîchères et fruitières, l’élevage se développent pour satisfaire les besoins d’une
population qui augmente et consomme. La canne à sucre, toutefois, maintient son rang de première production agricole.
Le BTP se porte bien. Mais c’est désormais le secteur tertiaire qui tire l’économie : commerce, services, et, de plus
en plus, tourisme. Aujourd’hui, le tourisme est la première activité de l’île, avec la construction.

En mai 2004, la Commission de l'Union africaine émet un Plan stratégique dans lequel le continent africain désigne
l'occupation étrangère de La Réunion, considérée comme africaine4.
  </p>
  </article>

  <footer id="tribute-info">
    <blockquote>
      <p>"Une petite ile avec une tres grande histoire."</p>
    </blockquote>
    <p>
      Toute les information fournit sont tiré de  
<a href="https://fr.wikipedia.org/wiki/La_R%C3%A9union#Histoire" id="tribute-link" target="_blank">Wikipédia</a>
    </p>
  </footer>
</main>
