

<article>
  <div class="container ">
    <h1 class="display-1 text-center">projets html css</h1>
  
<div class="card-deck">
  <div class="card bg-dark text-light">
<img src="assets\images\html5.png "  class="card-img-top" alt="image logo html">
    <div class="card-body">
      <h5 class="card-title">Form</h5>
<p class="card-text">Projets de conception de sites Web réactifs - Créer un formulaire d'enquête.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
<div class="card bg-light">
<img src="assets\images\code.png" style= "width:70%;"class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hello world</h5>
<p class="card-text">Projets de conception de sites Web réactifs - Construire une page hommage</p>
      <p class="card-text">
<a routerLink="HelloWorld">
        <button type="button" class="btn btn-light">Apperçu</button>
        </a>
        <small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
<div class="card bg-dark text-light">
<img src="assets\images\css3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">e-commerce</h5>
<p class="card-text">Projets de conception Web adaptatifs - Création d'une page de vente de produit ou service</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
</article>
