<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar" >
  <h1>
    <a class="navbar-brand" href="#">Portfolio</a>
  </h1>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
</li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Projets accadémique
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">HTML5 , CSS3</a>
          <a class="dropdown-item" href="#">Javascript</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
<p class=" my-1 my-lg-0 pr-5">
  Emmanuel ECOUDA
</p>
  </div>
</nav>
<div class="parallax-window" data-parallax="scroll" data-image-src="assets\images\work-dream.jpg"></div>
<app-project-css></app-project-css>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>
<p>g</p>